@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Cherry+Cream+Soda);
body {
  padding: 8px; }

a:link, a:visited {
  color: #d6b810; }

.header .logo {
  font-size: 24px;
  padding: 0 4px; }

.header .logo-capital {
  font-size: 32px;
  text-shadow: none; }

.header .logo-line {
  display: inline-block; }

.header .logo-text-inner {
  display: none; }

.header .ap-header-tab-item {
  color: inherit; }

.header .ap-header-tab-item-selected,
.header .ap-header-tab-item-selected:hover,
.header .ap-header-tab-item-selected:active {
  color: #d6b810; }

.header .ap-header-tab {
  border-bottom: 1px solid #F0F0F0; }

.header .ap-header-logo {
  position: relative; }

.header .ap-header-logo-link:after {
  content: "α version";
  display: inline-block;
  padding: 2px 8px;
  position: absolute;
  transform: rotate(-12deg);
  font-size: 9px;
  z-index: 4;
  left: -10px;
  top: 4px;
  background: rgba(238, 51, 51, 0.8);
  line-height: 9px;
  color: white; }

@media (min-width: 768px) {
  .header .ap-header-tab {
    border-bottom: none; } }

.logo-container {
  text-align: center;
  background: #d6b810; }

.logo {
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-wrap: wrap;
  font-family: 'Cherry Cream Soda', cursive; }

.logo-font {
  font-family: 'Cherry Cream Soda', cursive; }

body .ap-view-stack {
  top: 78px; }

body .ap-view-body {
  box-sizing: border-box;
  min-height: 100%; }

body .ap-view-header {
  height: 32px;
  line-height: 32px;
  background: #FAFAFA;
  border-top: 1px solid #F5F5F5; }

body .ap-view-header-title {
  font-size: initial;
  color: #AAA; }

@media (min-width: 768px) {
  body .ap-view-stack {
    top: 44px; } }

.splash-view .ap-jumbotron {
  color: #331;
  text-align: center; }

.splash-view .ap-jumbotron h1, .splash-view .ap-jumbotron-title {
  text-shadow: none;
  font-size: 72px;
  line-height: 72px; }

.splash-view .ap-view-body {
  padding-top: 0; }

.showcase-view .ap-view-body {
  overflow-x: hidden; }

.showcase-view .showcase-section {
  box-shadow: none;
  background: #d6b810;
  padding: 16px 16px;
  margin: 0 0 -1px;
  border-radius: 0;
  border: 1px solid #988100; }
  .showcase-view .showcase-section .ap-section-header {
    color: #988100; }
  .showcase-view .showcase-section .ap-section-body {
    padding: 4px;
    display: flex;
    flex-wrap: wrap; }
  .showcase-view .showcase-section:nth-child(even) {
    background: white; }
    .showcase-view .showcase-section:nth-child(even) .showcase-video {
      border-color: #d6b810; }

.showcase-view .showcase-video {
  display: block;
  width: 148px;
  height: 148px;
  border: 4px solid white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33) inset;
  background: #FAFAFA;
  overflow: hidden;
  position: relative; }
  .showcase-view .showcase-video .video-overlay {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset, -1px -1px 1px rgba(0, 0, 0, 0.1) inset; }

.showcase-view .showcase-text-container {
  width: 100%;
  box-sizing: border-box; }

.showcase-view .showcase-video-container {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box; }

.showcase-view .showcase-joiner {
  flex: 4;
  overflow: hidden; }

@media (min-width: 768px) {
  .showcase-view .showcase-text-container {
    width: 50%; }
  .showcase-view .showcase-video-container {
    width: 50%; }
  .showcase-view .showcase-section .ap-section-body {
    flex-wrap: nowrap; }
  .showcase-view .showcase-section:nth-child(even) .ap-section-body {
    text-align: right;
    flex-direction: row-reverse; } }

.joiner svg {
  display: block;
  margin: 0 auto; }

.snippet {
  transform: translateZ(0);
  font-size: 14px; }
  .snippet .syntaxhighlighter {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #EEE;
    box-sizing: border-box; }
    .snippet .syntaxhighlighter .string,
    .snippet .syntaxhighlighter .string a {
      color: #4a7fff !important; }
    .snippet .syntaxhighlighter .keyword {
      color: #003cce !important; }
    .snippet .syntaxhighlighter .comments,
    .snippet .syntaxhighlighter .comments a {
      color: #CCC !important; }

.guide-view .guide-toggle-container {
  text-align: center; }

.guide-view .ap-toggle {
  display: inline-flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center; }

.guide-view .ap-toggle-item {
  min-width: 120px;
  font-size: 14px; }

.guide-view .guide-section {
  margin-top: 16px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #F0F0F0; }
  .guide-view .guide-section .ap-section-header {
    border-bottom: 1px solid #DDD;
    margin-bottom: 0;
    padding: 0 4px 8px; }
  .guide-view .guide-section .ap-section-body {
    padding: 4px;
    display: flex;
    flex-wrap: wrap; }
  .guide-view .guide-section .guide-text-container {
    width: 100%;
    box-sizing: border-box; }
  .guide-view .guide-section .guide-image-container {
    width: 100%;
    box-sizing: border-box; }
  .guide-view .guide-section .guide-description {
    padding: 0 4px; }
  .guide-view .guide-section .guide-snippet {
    padding: 0 4px; }

@media (min-width: 768px) {
  .guide-view .guide-section .guide-text-container {
    width: 30%; }
  .guide-view .guide-section .guide-image-container {
    width: 70%; }
  .guide-view .guide-section .ap-section-body {
    flex-wrap: nowrap; } }

.footer {
  border-top: 1px solid #FAFAFA; }
  .footer .footer-company {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #AAA;
    padding-top: 8px; }
    .footer .footer-company .ap-image {
      background: transparent; }
  .footer .footer-title {
    margin: 0; }
  .footer .footer-group {
    margin: 16px 0; }
  .footer .footer-copyright {
    font-size: 9px;
    display: inline-block;
    padding: 4px 8px; }
  .footer .ap-links {
    font-size: smaller;
    margin: 8px 0; }
    .footer .ap-links a {
      color: #AAA; }

/*# sourceMappingURL=base.css.map */